<h1>Flatiron Bank Error</h1>
<p>It seems there was a problem. Please return to <a href="/">the home page</a> and try again.</p>

<!--<h3>Login</h3>-->
<!--<form action=\"/login\" method=\"POST\">  -->
<!--<input type=\"text\" name=\"username\" placeholder=\"Username:\">-->
<!--<input type=\"password\" name=\"password\" placeholder=\"Password:\">-->
<!--<input type=\"submit\" value=\"Log In\">-->
<!--</form>-->




